*{ 
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}
.container{
    border: 1px solid red;
    width: 100%;
    height: 2000px;
    background-color:rgb(68, 128, 74) ;
}
nav{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(21, 41, 49);
    justify-content: space-between ;
    align-items: center ;
}
ul{ 
    display:flex;
    list-style-type: none;
    justify-content: space-between ;
    align-items: center ;
}
li{
    padding: 0 15px;
    color: white;
}
h1{
    font-weight: bold;
    color: white;
}
a:hover {
    color:white;
}
@media only screen and (max-width: 992px) {
    .container {
      background-color: lightblue;
      

    }
    .links{
        display: none;
    }
    span{
        display: inline-block;
        padding: 10px;
        color: white;
        background-color: green;
    }
  }


