.container{
    display: flex;
    position: relative;;
    width: 100%;
    height: 600px;
    border: 1px solid black;
}
.card{
    align-items: center;
    height: 500px;
    margin: auto;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.img{
width: 100%;
height: 30%;

}
img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.audio{
    margin-top: 20%;
    width: 100%;
    height: 10%;
}
audio{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    width: 100%;
    height: 150px;
}
.box{
    background-image: url(image/image.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat ;
    background-size:cover;
    box-sizing: content-box;
}

